__pycache__/
*.py[cod]
*\$py.class

# --- Virtual Env ---
venv/
.venv/
env/

# --- Distribution / Build ---
build/
dist/
*.egg-info/

# --- Testing / Quality ---
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
htmlcov/

# --- IDE / Editor / OS ---
.vscode/
.idea/
.DS_Store
Thumbs.db